<h2><%= @question.title %></h2>

<form method=POST action="/questions/<%= @question.id %>/answer">
	<input type=text placeholder="Answer this!" name=answer[title]>
	<input type=submit value="Answer">
</form>

<h3>Top answers</h3>

<% unless @answers.present? %> 
	<%= "No one has answered yet!" %>
	<br><br>
<% else %> 
	<% @answers.each do |answer| %>
	<ul><%= answer.title %>
<!-- displays the voting buttons if user has not voted for the answer -->
	<% if answer.answervotes.find_by(user_id: current_user.id).nil? %>
<!-- Upvote button -->
	<form method=post action="/questions/<%= @question.id %>/<%= answer.id %>/upvote">
		<input type=submit value="Upvote"></form>
<!-- Downvote button -->
	<form method=post action="/questions/<%= @question.id %>/<%= answer.id %>/downvote">
		<input type=submit value="Downvote"></form>
	<% end %>
<!-- Number of votes -->
	<br><%= "Upvotes: " %> <%= Answervote.where(vote: '1', answer_id: answer.id).count %>

	<%= "Downvotes: " %> <%= Answervote.where(vote: '0', answer_id: answer.id).count %></br>

	</ul> 
	<% end %>
<% end %>





