<h2>My answers</h2>

<% unless @my_answers.present? %>
<%= "You haven't answered any question yet." %><br><br>
<% else %>
<% @my_answers.each do |answer| %>
<ul><a href='/questions/<%= answer.question.id %>'><%= answer.question.title %></a>
	<%= answer.title %>
	<form method=post action="/questions/<%= answer.question.id %>/<%= answer.id %>">
	<input type=hidden value=delete>
	<input type=submit value="Delete"></form></ul>
	<% end %>
<% end %>